@model SalaryCalculatorViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Yeni Maaş Ekleme</h4>

<div class="row">
    <div class="col-12 col-xl-8">
        @if (TempData.ContainsKey("ResultMessage"))
        {
            <div class="alert alert-danger ">
                @TempData["ResultMessage"]
            </div>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="card card-body border-0 shadow mb-4">
                    <h2 class="h5 mb-4">Maaş Bilgileri</h2>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Salary" class="control-label">Maaş</label>
                            <input asp-for="Salary" class="form-control" required min="1" type="number" />
                            <span asp-validation-for="Salary" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Employees" class="control-label">Personel Bilgisi</label>
                            <select asp-for="EmployeeId" class="form-select" required
                                    asp-items="@(new SelectList(Model.Employees, "Id", "FullName"))">
                                <option value="">Lütfen Seçiniz</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="TransportationAllowance" class="control-label">Yol Ücreti</label>
                            <input asp-for="TransportationAllowance" class="form-control" />
                            <span asp-validation-for="TransportationAllowance" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="MealAllowance" class="control-label">Yemek Ücreti</label>
                            <input asp-for="MealAllowance" class="form-control" required />
                            <span asp-validation-for="MealAllowance" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Bonus" class="control-label">Bonus</label>
                            <input asp-for="Bonus" class="form-control" />
                            <span asp-validation-for="Bonus" class="text-danger"></span>
                        </div>
                       
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Kaydet</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<hr />

<div class="row">
    <div class="form-group">
        <a class="btn btn-light btn-primary" asp-action="Index">Listeye Geri Dön</a>
    </div>
</div>