################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PersonnelTrackingSystem/.vs/PersonnelTrackingSystem
/PersonnelTrackingSystem/PersonnelTrackingSystem.WebApp/obj
/PersonnelTrackingSystem/PersonnelTrackingSystem/obj
/PersonnelTrackingSystem/PersonnelTrackingSystem.Business/obj
/PersonnelTrackingSystem/PersonnelTrackingSystem.DataAccess/obj
/PersonnelTrackingSystem/PersonnelTrackingSystem.WebApp/bin/Debug/net6.0
/PersonnelTrackingSystem/.vs/ProjectEvaluation
