################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PersonnelTrackingSystem/.vs/PersonnelTrackingSystem
/PersonnelTrackingSystem/PersonnelTrackingSystem.WebApp/obj
/PersonnelTrackingSystem/PersonnelTrackingSystem/obj
/PersonnelTrackingSystem/PersonnelTrackingSystem.Business/obj
/PersonnelTrackingSystem/PersonnelTrackingSystem.DataAccess/obj
/PersonnelTrackingSystem/PersonnelTrackingSystem.WebApp/bin/Debug/net6.0
/PersonnelTrackingSystem/.vs/ProjectEvaluation
/PersonnelTrackingSystem/PersonnelTrackingSystem/bin/Debug/net6.0
/PersonnelTrackingSystem/PersonnelTrackingSystem.Business/bin/Debug/net6.0
/PersonnelTrackingSystem/PersonnelTrackingSystem.DataAccess/bin/Debug/net6.0
/PersonnelTrackingSystem/PersonnelTrackingSystem.Domain/bin/Debug/net6.0
/PersonnelTrackingSystem/PersonnelTrackingSystem.Domain/obj/Debug/net6.0/refint
/PersonnelTrackingSystem/PersonnelTrackingSystem.Domain/obj/Debug/net6.0/PersonnelTrackingSystem.Domain.AssemblyInfo.cs
/PersonnelTrackingSystem/PersonnelTrackingSystem.Domain/obj/Debug/net6.0/ref/PersonnelTrackingSystem.Domain.dll
/PersonnelTrackingSystem/PersonnelTrackingSystem.Domain/obj/Debug/net6.0/PersonnelTrackingSystem.Domain.assets.cache
/PersonnelTrackingSystem/PersonnelTrackingSystem.Domain/obj/Debug/net6.0/PersonnelTrackingSystem.Domain.dll
/PersonnelTrackingSystem/PersonnelTrackingSystem.Domain/obj/Release/net6.0
/.gitattributes
