@model IEnumerable<PersonnelTrackingSystem.Roles.RoleDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yetki Listesi</h1>


<div class="row">
    <div class="col-12">
        <div class="float-end">
            <a class="btn btn-outline-primary btn-sm" asp-controller="Role" asp-action="Create">Yeni Yetki Ekle</a>
        </div>
        <div class="float-start col-4">
            @if (TempData.ContainsKey("ResultMessage"))
            {
                <div class="alert alert-success">
                    @TempData["ResultMessage"]
                </div>
            }
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Yetki İsmi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td class="text-end">
                            <a class="btn btn-outline-primary btn-sm" asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id">Düzenle </a>
                            <form asp-action="Delete" method="post" class="delete-form d-inline-block" onclick="return confirm('Bu yetkiyi silmek istediğinize emin misiniz?');">
                                <input type="hidden" value="@role.Id" name="id">
                                <button class="btn btn-outline-danger btn-sm">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
