<html>
    <head>
        <title>Personel Takip Sistemi</title>
    </head>
    <body>
        <p>
            Personel Takip Sistemine Hoş Geldiniz..
        </p>
        <p>
        <img src="https://www.guvenlikokulu.com/wp-content/uploads/2018/03/guvenlik-okulu-Personel-Kontrol-Sistemi.png"
        </p>
    </body>
</html>